* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.banner-holder {
  width: 100%;
  display: none;
}
#banner {
  width: 100%;
}

/* blog section */
.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-section {
  padding: 0 1rem;
}
.blog-title {
  color: #b96d40;
}

.blog-title h1 {
  font-size: 3rem;
  padding: 10px 0px 0px 40px;
  font-family: "Courier New", Courier, monospace;
}

.blog-title h2 {
  font-size: 2rem;
}

.blog-text p {
  text-align: justify;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

/* aside */
.aside-img {
  width: 100%;
}

/* footer */

.footer {
  margin-top: 1rem;
  text-align: center;
  background: #b96d40;
  padding: 2rem;
  color: #ffcf9c;
}

/* max-width asztali nézetből mobil nézetre */
/* min-width mobil nézetből asztali nézet */
/* print - nyomtatásra optimalizálás */

@media only screen and (min-width: 768px) {
  .banner-holder {
    display: block;
  }
  main {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  main {
    max-width: 980px;
  }
  .blog-container {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .blog-section {
    width: 50%;
  }
  aside {
    width: 40%;
    /* align-self: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* COL 12 system */

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* mobile */
[class*="col-"] {
  width: 100%;
}

/* table */
@media only screen and (min-width: 768px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/* for desktop*/
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
